/*

  LIGHT GREEN
  http://www.google.com/design/spec/style/color.html#color-ui-color-palette

  500  #8bc34a
  50   #f1f8e9
  100  #dcedc8
  200  #c5e1a5
  300  #aed581
  400  #9ccc65
  500  #8bc34a
  600  #7cb342
  700  #689f38
  800  #558b2f
  900  #33691e
  A100 #ccff90
  A200 #b2ff59
  A400 #76ff03
  A700 #64dd17

*/

fieldset {
   border: 1px solid #dcedc8;
}

.site-head {
  background-color: #8bc34a;
  color: #f1f8e9;
}

body {
  background-color: #f1f8e9;
  color: #33691e;
}

::-moz-selection {
  color: #33691e;
  background: #f1f8e9;
}

::selection {
  color: #33691e;
  background: #f1f8e9;
}

a {
  color: #9ccc65;
}

a:hover {
  color: #8bc34a;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: #9ccc65;
}

hr {
  border-top: 1px solid #dcedc8;
}

blockquote {
  border-left: #9ccc65 0.4em solid;
}

blockquote small {
  color: #8bc34a;
}

code, tt {
  border: 1px solid #dcedc8;
  background: #f1f8e9;
}

pre {
    border: 1px solid #dcedc8;
    background: #f1f8e9;
}

table th,
table td {
  border-top: 1px solid #dcedc8;
}

table th { color: #9ccc65; }

table tbody + tbody { border-top: 2px solid #dcedc8; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f1f8e9;
}

#navigation a:hover {
  color: #dcedc8;
}

.post-meta {
  color: #dcedc8;
}

.post-meta a {
  color: #dcedc8;
}

.post-meta a:hover {
  color: #33691e;
}

.post-footer {
  border-top: #9ccc65 1px solid;
  background-color: #dcedc8;
}

.author-meta {
  color: #9ccc65;
}

.author-meta li:before {
  color: #9ccc65;
}

.author-meta a {
  color: #9ccc65;
}

.author-meta a:hover {
  color: #33691e;
}

.post-footer .share a {
  color: #9ccc65;
}

.post-footer .share a:hover {
  color: #33691e;
}

.pagination {
  color: #aed581;
}

.pagination a {
  color: #9ccc65;
}

.older-posts,
.newer-posts {
  border: #9ccc65 2px solid;
}

.older-posts:hover,
.newer-posts:hover {
  border-color: #dcedc8;
}

.site-footer {
  border-top: #aed581 1px solid;
  color: #9ccc65;
  background: #dcedc8;
}

.site-footer a,
.post-footer a {
  color: #9ccc65;
}

.site-footer a:hover,
.post-footer a:hover {
  color: #33691e;
}

.subscribe {
  border: #aed581 1px solid;
}

.subscribe:before {
  color: #aed581;
}

.subscribe:hover:before {
  color: #33691e;
}

.tooltip {
  background: #33691e;
}

.tooltip:after {
  border-color: #33691e transparent;
}

#results {
  color: #33691e;
}

#results .result-cell {
  border: 1px solid #aed581;
}

small {
  color: #aed581;
}

.material-button {
  color: #9ccc65;
}

.material-button:hover,
.material-button:active {
  color: #8bc34a;
}

.material-text {
  border-bottom: 1px solid #9ccc65;
  color: #8bc34a;
}

.material-text:focus,
.material-text:active,
.material-text:hover {
  border-bottom: 2px solid #8bc34a;
}

.tag-template .post.featured,
.home-template .post.featured,
.archive-template .post.featured {
  background-color: #9ccc65;
  color: #f1f8e9;
}

.tag-template .post.featured h2 a,
.home-template .post.featured h2 a,
.archive-template .post.featured h2 a {
  color: #c5e1a5;
}

.tag-template .post.featured h2 a:hover,
.home-template .post.featured h2 a:hover,
.archive-template .post.featured h2 a:hover {
  color: #dcedc8;
}

.featured .post-meta {
  color: #dcedc8;
}

.featured .post-meta a {
  color: #dcedc8;
}

.featured .post-meta a:hover {
  color: #33691e;
}
