<div id="social-links">
  <!-- TWITTER -->
  <a href="http://twitter.com" target="_blank">
    <i class="fa fa-twitter fa-lg"></i>
    Twitter
  </a>

  <!-- space -->
  &nbsp;

  <!-- FACEBOOK -->
  <a href="http://facebook.com" target="_blank">
    <i class="fa fa-facebook-square fa-lg"></i>
    Facebook
  </a>

  <!-- space -->
  &nbsp;

  <!-- INSTAGRAM -->
  <a href="http://instagram.com" target="_blank">
    <i class="fa fa-instagram fa-lg"></i>
    Instagram
  </a>

  <!-- space -->
  &nbsp;

  <!-- LINKED-IN -->
  <a href="http://linkedin.com" target="_blank">
    <i class="fa fa-linkedin-square fa-lg"></i>
    LinkedIn
  </a>

  <!-- space -->
  &nbsp;

  <!-- ETC -->
  <!--
    To add your own social media icon go to FontAwesome website and look for the social media brand icon you want to add.
    Note the social media icon name, "fa-NAME".
    Copy and paste bellow, one of the snipets above, or change any of the social media icons above to use that name.
  -->

</div>
