{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Each post has the blog logo at the top, with a link back to the home page }}
{{> common-header }}
<a class="subscribe-button icon-feed btn-float" href="{{@blog.url}}/tag/{{tag.slug}}/rss/"> <i class="fa fa-tag"></i></a>

{{! Used for shrinking and expanding space above content depending on the header height }}
<div id="header-spacer"></div>

{{! The main content area on the homepage }}
<main class="content" role="main">
  <header class="tag-archive-header">
    <h1 class="page-title"><i class="fa fa-tag"></i> {{tag.name}}</h1>
    <!-- <p class="page-description">A {{pagination.total}}-post collection<p> -->
  </header>

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
</main>
