/*

  PURPLE
  http://www.google.com/design/spec/style/color.html#color-ui-color-palette

  500  #9c27b0
  50   #f3e5f5
  100  #e1bee7
  200  #ce93d8
  300  #ba68c8
  400  #ab47bc
  500  #9c27b0
  600  #8e24aa
  700  #7b1fa2
  800  #6a1b9a
  900  #4a148c
  A100 #ea80fc
  A200 #e040fb
  A400 #d500f9
  A700 #aa00ff

*/

fieldset {
   border: 1px solid #e1bee7;
}

.site-head {
  background-color: #9c27b0;
  color: #f3e5f5;
}

body {
  background-color: #f3e5f5;
  color: #4a148c;
}

::-moz-selection {
  color: #4a148c;
  background: #f3e5f5;
}

::selection {
  color: #4a148c;
  background: #f3e5f5;
}

a {
  color: #ab47bc;
}

a:hover {
  color: #9c27b0;
}

h1 a, h2 a, h3 a,
h4 a, h5 a, h6 a {
  color: #ab47bc;
}

hr {
  border-top: 1px solid #e1bee7;
}

blockquote {
  border-left: #ab47bc 0.4em solid;
}

blockquote small {
  color: #9c27b0;
}

code, tt {
  border: 1px solid #e1bee7;
  background: #f3e5f5;
}

pre {
    border: 1px solid #e1bee7;
    background: #f3e5f5;
}

table th,
table td {
  border-top: 1px solid #e1bee7;
}

table th { color: #ab47bc; }

table tbody + tbody { border-top: 2px solid #e1bee7; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
    background-color: #f3e5f5;
}

#navigation a:hover {
  color: #ce93d8;
}

.post-meta {
  color: #ba68c8;
}

.post-meta a {
  color: #ba68c8;
}

.post-meta a:hover {
  color: #4a148c;
}

.post-footer {
  border-top: #ce93d8 1px solid;
  background-color: #e1bee7;
}

.author-meta {
  color: #ba68c8;
}

.author-meta li:before {
  color: #ba68c8;
}

.author-meta a {
  color: #ba68c8;
}

.author-meta a:hover {
  color: #4a148c;
}

.post-footer .share a {
  color: #ba68c8;
}

.post-footer .share a:hover {
  color: #4a148c;
}

.pagination {
  color: #ce93d8;
}

.pagination a {
  color: #ce93d8;
}

.older-posts,
.newer-posts {
  border: #e1bee7 2px solid;
}

.older-posts:hover,
.newer-posts:hover {
  border-color: #ce93d8;
}

.site-footer {
  border-top: #ea80fc 1px solid;
  color: #ea80fc;
  background: #e1bee7;
}

.site-footer a,
.post-footer a {
  color: #ba68c8;
}

.site-footer a:hover,
.post-footer a:hover {
  color: #4a148c;
}

.subscribe {
  border: #ea80fc 1px solid;
}

.subscribe:before {
  color: #ea80fc;
}

.subscribe:hover:before {
  color: #4a148c;
}

.tooltip {
  background: #4a148c;
}

.tooltip:after {
  border-color: #4a148c transparent;
}

#results {
  color: #4a148c;
}

#results .result-cell {
  border: 1px solid #ce93d8;
}

small {
  color: #ce93d8;
}

.material-button {
  color: #ce93d8;
}

.material-button:hover,
.material-button:active {
  color: #ab47bc;
}

.material-text {
  border-bottom: 1px solid #ce93d8;
  color: #ab47bc;
}

.material-text:focus,
.material-text:active,
.material-text:hover {
  border-bottom: 2px solid #ab47bc;
}

.tag-template .post.featured,
.home-template .post.featured,
.archive-template .post.featured {
  background-color: #ab47bc;
  color: #ea80fc;
}

.tag-template .post.featured h2 a,
.home-template .post.featured h2 a,
.archive-template .post.featured h2 a {
  color: #e1bee7;
}

.tag-template .post.featured h2 a:hover,
.home-template .post.featured h2 a:hover,
.archive-template .post.featured h2 a:hover {
  color: #ce93d8;
}

.featured .post-meta {
  color: #ea80fc;
}

.featured .post-meta a {
  color: #ea80fc;
}

.featured .post-meta a:hover {
  color: #4a148c;
}
